@import "src/app/@design/default";

.clip {
  border-bottom-right-radius: 16px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%);
}

.card-box {
  display: flex;
  padding: 16px 16px 16px 8px;
  border-radius: 5px;
  user-select: none;
}

.title {
  margin: 0;
  text-align: center;
  user-select: none;
  position: relative;
  z-index: $level-top + 1;
  width: 52px;
  font-family: "ciphertext", "Royal Samurai", "Helvetica Neue", Helvetica, sans-serif;
  writing-mode: vertical-lr;/*从左向右 从右向左是 writing-mode: vertical-rl;*/
  writing-mode: tb-lr;
}
.content {
  display: flex;
  flex: 1;
  padding: 16px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.error-icon{
  font-size: 100px;
}

// 头部

.card-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}

.card-head .text {
  margin-right: 16px;
}
