@import "../../@design/default";

.header {
  padding: 0 32px;
  position: fixed;
  z-index: $level-max;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  line-height: $nav-height;
  transition: $time-detailed $easing-tans;
  &.open {
    transform: translate3d(0, 0, 0)
  }
  &.simplify, &.initial, &.close {
    transform: translate3d(0, calc(-100% + 2px), 0)
  }
  &-content {
    display: flex;
    align-items: center;
  }
  .action {
    text-align: right;
    white-space: nowrap;
  }
}


.nav {
  //padding-top: 2px;
}

.header-secondary {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $level-height;
  transform: translate3d(0, -100%, 0);
  transition: $easing-tans $time-ele-open;
  padding-top: $nav-height;
  .content {
    width: $Breakpoint-lg;
    height: 260px;
    margin: 0 auto;
  }
  &.open {
    transform: translate3d(0, 0, 0);
    transition: $easing-tans $time-ele-close;
  }
  .main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 12;
    overflow: hidden;
  }
}

.step-name {
  width: 300px;
}
.step-content {
  flex: 1;
  position: relative;
}
