<div class="navigation" [ngClass]="mode">
  <header class="header smallest">
    <div class="header-content">
      <div class="col-2 logo">LOGO</div>
      <div class="col-8 nav">
        <app-router-nav>
          <app-router-nav-item
            *ngFor="let link of navigation"
            [label]="link.name"
            [routerLink]="link.src"
            [mouseEvent]="tabEnterEvent(link.name)"
            routerLinkActive="routerLinkActive"
          ></app-router-nav-item>
        </app-router-nav>
      </div>
      <div class="col-2 action asc-buttons">
        <button mat-icon-button (click)="userSession()">
          <fa-icon class="icon" size="lg" icon="sign-in-alt"></fa-icon>
        </button>
        <button mat-icon-button>
          <fa-icon class="icon" size="lg" icon="bell"></fa-icon>
        </button>
        <button mat-icon-button (click)="toggleSearchBox()">
          <fa-icon class="icon" size="lg" icon="search"></fa-icon>
        </button>
        <button mat-icon-button><fa-icon size="lg" icon="expand"></fa-icon></button>
      </div>
    </div>
  </header>

  <!--搜索框-->
  <core-search [openSearch]="openSearch"></core-search>
</div>


<!--次级导航-->
<div class="header-secondary" [class.open]="openSecondary | async">
  <div class="content theme-secondary"
       (mouseenter)="changeSecondaryNav($event.type)"
       (mouseleave)="changeSecondaryNav($event.type)">
    <div class="main">
      <div class="step-name theme-backdrop-primary"></div>
      <div class="step-content theme-edge">
      </div>
    </div>
  </div>
</div>
