@import "../../@design/default";

$logo-width: 220px;
$action-width: 350px;

.nav {
  max-width: calc(100% - #{$logo-width + $action-width});
}

.navigation {
  position: fixed;
  z-index: $level-max;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  line-height: $nav-height;
  user-select: none;
  transition: $time-detailed $easing-tans;
  &.open {
    transform: translate3d(0, 0, 0)
  }
  &.simplify, &.initial, &.close {
    transform: translate3d(0, calc(-100% + 2px), 0)
  }
}

.header {
  padding: 0 $padding-main;
  height: 100%;
  width: 100%;
  &-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .logo {
    width: 220px;
    min-width: 220px;
    margin-bottom: 0;
  }
  .action {
    text-align: right;
    white-space: nowrap;
    width: 350px;
    min-width: 350px;
  }
}

.header-secondary {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $level-height;
  transform: translate3d(0, -100%, 0);
  transition: $easing-tans $time-ele-open;
  padding-top: $nav-height;
  .content {
    width: $Breakpoint-lg;
    height: 260px;
    margin: 0 auto;
  }
  &.open {
    transform: translate3d(0, 0, 0);
    transition: $easing-tans $time-ele-close;
  }
  .main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 12;
    overflow: hidden;
  }
}

.step-name {
  width: 300px;
}
.step-content {
  flex: 1;
  position: relative;
}

.user-action {
  padding-left: 0;
  padding-right: 2px;
}
.user-name {
  max-width: 100px;
  display: inline-block;
}
.avatar {
  height: 36px;
  width: 36px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
