<div class="error">
  <div class="error-backend theme-shadow-concave">
    <pc-access-card title="No Access">
        <pc-access-card-head [icon]="icon">
          <h1 class="glitch" data-label="Access Denied">
            Access Denied
          </h1>
          <div><b>访问请求被拒绝</b></div>
        </pc-access-card-head>
        <pc-access-card-content>
          <p><span i18n>Code：</span>{{data.code}}</p>
          <p><span i18n>Description：</span>{{data.info}}</p>
        </pc-access-card-content>
        <pc-access-card-footer>
          <div class="asc-buttons">
            <button (click)="location.back()" mat-flat-button i18n>BACK</button>
            <a routerLink="/" mat-flat-button color="accent" i18n>HOME</a>
          </div>
        </pc-access-card-footer>
    </pc-access-card>
  </div>
</div>

