.home {
  height: calc(100vh - 60px);
  width: 100%;
  background: url('src/assets/images/background/coming_soon.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  height: 3000px;
}
